<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="amperity.gocd.agent.aurora" version="1">
  <about>
    <name>Aurora Elastic Agents</name>
    <version>0.1.0</version>
    <target-go-version>19.8.0</target-go-version>
    <description>Manages elastic agents running on Apache Aurora/Mesos.</description>

    <vendor>
      <name>Amperity</name>
      <url>https://github.com/amperity/gocd-aurora-elastic-agent</url>
    </vendor>

    <target-os>
      <value>Linux</value>
    </target-os>
  </about>
</go-plugin>
